.login-card{
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
}

@media screen and (max-width: 640px) {
    .log-img{
        display: none;
    }
}
@media screen and (max-width: 768px) {
  .login-card{
    width: 100%;
    max-width: 600px;
  }
}
.hero-content{
    width: 100%;
}

.img-input:focus, .input:focus-visible {
    /* outline: none; */
    outline: 1px solid #FF725E !important;
    background: #fff;
    transition: all .3s;
    border: none;
}
.input:focus-within {
    outline-style: none;
    outline-width: 0px;
    outline-offset: 0px;
    outline-color: transparent
}

.avatar-btn{
    background: transparent;
    border-color: transparent;
    padding: 0;
    border: 0;
}

.avatar-btn:hover{
    background: transparent;
}
